.productDetails_container {
  width: 90%;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 30px;
}

.productDetails_header {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.productDetails_img {
  width: 30%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.productDetails_info {
  flex: 1;
}

.price {
  color: #b12704;
  margin: 10px 0;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.addCart {
  background-color: #f0c14b;
}

.buyNow {
  background-color: #ff9900;
  color: white;
}
.wishlist{
  background-color: rgb(255, 54, 54);
}

.productDetails_desc,
.productDetails_slider,
.productDetails_reviews {
  margin-top: 40px;
}

.review_card {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
}

.productDetails_sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar_box {
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.sidebar_box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.sidebar_box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar_box li {
  margin: 6px 0;
  font-size: 14px;
}

.sidebar_product {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.sidebar_product img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

.sidebar_banner img {
  width: 100%;
  border-radius: 12px;
}

.p_desc{
  margin-top: 10px;
}